html, 
body {
    width: 100%;
    height: 100%;
}

.main-menubox {
    display: none;
}

.main-menu:hover .main-menubox{
    display: block;
}


.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }

    .dropdown-menu{ left: -131%;}
}

.dropdown-submenu a::after {
    right: 16px;
    top: 42%;
}

.dropdown-item {
    padding: 8px 18px;
}

    .dropdown-item{white-space: normal}

    .navbar-expand-lg .navbar-nav .dropdown-menu {
    font-size: 14px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #dcdcdc;
}

  li.nav-item{    padding: 10px 20px;}

  footer{
    width:100%;
    /* position:fixed; */
    bottom:0;
    margin-bottom:0px;
}



header {
    position: relative;
    min-height: auto;
    height: 100%;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #444;
    background-size: cover;
    /* background-image: url(https://www.youtube.com/watch?v=oWBWqrVYfp8); */
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #222;
}

@media(min-width:34em) {
    .icon-lg {
        font-size: 80px;
    }
    
    header {
        min-height: 100%;
    }

    header .video-bg {
    /* Span the full grid */
    grid-area: var(--fullGrid);

    /* Re-size video to cover full screen while maintaining aspect ratio */
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

    /* Display video below overlay */
    z-index: -1;
}

.video-bg::-webkit-media-controls {
    display: none !important;
}

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 600px;
        padding: 100px 0;
    }

}